html,
body {
    margin: 0;
    padding: 0 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    height: 3000px;
    background: #000;
    color: #eee;
}

html.home,
body.home {
    height: 100%;
}

a {
    color: #33a8ff;
}

#content {
    position: fixed;
    max-width: calc(100% - 20px);
}

.video-container,
.canvas-container {
    max-width: calc(100% - 20px);
    max-height: 80vh;
    height: auto;
}

.canvas {
    width: 100%;
    height: auto;
}

.cursor-loading {
    cursor: progress;
}
